body {
  font-family: 'times new roman', joker, times new roman;
  font-weight: 500;
  background-image: url(ChicagoSkyline1.jpg);
  background-repeat: repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1 {
  color: orange;
}
h1 {
  color: orange;
}
h4 {
  color: yellow;
}
#summary {
  color: purple;
}
h4 {
  color: red;
}
#experience {
  color: red;
}
